<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
<header>
    <link href="Header.html">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="HomePage.html">Home</a>
        </button>
        <a class="btn btn-outline-primary" href="LoginPage.html">Logout</a>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h3>Course progress</h3>
            <div class="progress">
                <div class="progress-bar bg-success" style="width:50%">
                    50%
                </div>

            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-text">Current section</h3>
                </div>
                <div class="card-body">
                    <p class="card-text"> How to train your pet to follow your orders </p>
                    <p class="card-link"><a href="learnPage.html"> Learn </a></p>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-text">Next Section</h3>
                </div>
                <div class="card-body">
                    <p class="card-text"> How to teach your pet to behave in public </p>
                </div>
            </div>
        </div>
    </div>
</div>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br>

<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <!-- Left -->
    <!-- Left -->

    <!-- Right -->
    <div>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class=" fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>TakeCareOfYourPets co
                    </h6>
                    <p>
                        We will help you learn a better way to teach your pets.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Strumica </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        mite_mazgaliev@live.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <a class="text-reset fw-bold" href="#">TakeCareOfYourPets.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>